@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------utilities-----------*/
.lowercase {
  text-transform: lowercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

._mt-50 {
  margin-top: 50px;
}

/*---------custom-----------*/
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #FFFAEF;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 13px;
}
.header__list {
  display: flex;
}
.header__list > * + * {
  margin-left: 25px;
}
.header__list-item--ml {
  margin-left: 40px;
}
.header__list-text {
  border: none;
  background-color: transparent;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #006450;
}
.header__list-text small {
  font-size: 13px;
}
.header__logo a {
  display: block;
  color: #00C08B;
  font-size: 20px;
  line-height: 26px;
}
.header__logo i {
  font-size: 18px;
}

.divider {
  display: block;
  max-width: 1440px;
  margin: 25px auto;
  padding: 0 25px;
}
.divider::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #006450;
}
.container .divider {
  padding: 0;
}

.footer {
  padding-bottom: 25px;
  color: #006450;
}
.footer__bottom {
  margin-top: 60px;
}

.site-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  font-size: 15px;
  line-height: 20px;
}
.site-nav__section-title {
  font-style: italic;
}
.site-nav__section-title + * {
  margin-top: 18px;
}
.site-nav__section-list a {
  font-size: 15px;
  line-height: 20px;
  color: #006450;
  letter-spacing: 0.4px;
}

.footer-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
  line-height: 20px;
}
.footer-info__copy {
  flex: 1 1 auto;
}
.footer-info .footer-info__email {
  background-color: #FFFAEF;
}
.footer-info .footer-info__logo {
  position: absolute;
  bottom: 5px;
  left: 50%;
  font-size: 30px;
  color: #00C08B;
  line-height: 30px;
  transform: translateX(-50%);
}
.footer-info .footer-info__logo i {
  font-size: 25px;
  font-style: italic;
}
.footer-info__action {
  margin-left: 90px;
}
.footer-info__action button {
  border: none;
  background-color: white;
  color: #006450;
  line-height: 20px;
  font-size: 12px;
}
@media (max-width: 992px) {
  .footer-info {
    margin-top: 0;
  }
  .footer-info .footer-info__sub {
    margin-right: 7%;
  }
}

.home-intro {
  position: relative;
}
.home-intro__slider {
  position: relative;
  /* Не получилось, оставила для примера
  .home-intro__image{
     min-height: 100vh;
     position: relative;
     img{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
     }
  }
  */
}
.home-intro__content {
  display: flex;
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  top: 20%;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
}
.home-intro__content button {
  height: 65px;
  width: 200px;
  justify-self: end;
  background-color: #E1FF32;
  border: none;
  color: #000000;
  font-size: 18px;
}
.home-intro__text {
  color: #FFFAEF;
  font-size: 36px;
  font-weight: normal;
  line-height: 44px;
  letter-spacing: 0.4px;
}
.home-intro__plugin {
  display: flex;
  position: absolute;
  right: 25px;
  bottom: 50px;
}
.home-intro__plugin span {
  width: 12px;
  height: 12px;
  border: 1px solid #FFFAEF;
  margin-right: 6px;
}
.home-intro__plugin span:last-child {
  margin-right: 0;
}
.home-intro__plugin span:nth-child(2) {
  background-color: #FFFAEF;
}

/*Стили для каталогов*/
.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  color: #FFFAEF;
}

.catalog-item {
  position: relative;
}
.catalog-item::after {
  content: "";
  display: block;
  padding-top: 100%;
}
.catalog-item__img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalog-item__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;
}
.catalog-item__title {
  font-size: 36px;
  line-height: 44px;
  text-transform: lowercase;
  color: #FFFAEF;
}
.catalog-item__text {
  margin-top: 10px;
  font-size: 24px;
  line-height: 26px;
  max-width: 390px;
}
.catalog-item__action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.catalog-item__action button {
  line-height: 60px;
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: #3E3935;
  background-color: #E1FF32;
}

/*----------------*/
.home-catalog__container {
  padding-top: 60px;
}
.home-catalog__text {
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.4px;
  color: #006450;
}
.home-catalog__list {
  margin-top: 100px;
}

.home-vogue .vogue__intro {
  position: relative;
  margin-bottom: 50px;
}
.home-vogue .vogue__intro .vogue__title {
  color: #00C08B;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 25px;
}
.home-vogue .vogue__intro .vogue__text {
  max-width: 777px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
  font-size: 56px;
  line-height: 62px;
}
.home-vogue .vogue__intro a {
  display: inline-block;
  font-size: 24px;
  line-height: 16px;
  color: #006450;
  margin-left: 25px;
  margin-top: 110px;
}
.home-vogue .vogue__intro .vogue__plugin {
  display: flex;
  position: absolute;
  right: 47%;
  bottom: 7px;
}
.home-vogue .vogue__intro .vogue__plugin span {
  width: 10px;
  height: 10px;
  border: 1px solid #006450;
  margin-right: 8px;
}
.home-vogue .vogue__intro .vogue__plugin span:last-child {
  margin-right: 0;
}
.home-vogue .vogue__intro .vogue__plugin span:nth-child(2) {
  background-color: #006450;
}
.home-vogue .vogue__list .vogue__item p {
  font-size: 22px;
}

.home-blockquote {
  padding: 75px 0 100px;
}
.home-blockquote blockquote {
  display: block;
  font-weight: bold;
  font-size: 72px;
  line-height: 89px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #006450;
  max-width: 830px;
  margin: 0 auto;
}

.home-routine {
  margin-top: 50px;
  background: url("../img/future.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 220px;
}
.home-routine blockquote {
  font-size: 56px;
  line-height: 62px;
  padding-top: 220px;
  padding-bottom: 60px;
  font-weight: bold;
  max-width: 1130px;
  text-align: center;
  margin: 0 auto;
}
.home-routine a {
  display: block;
  font-size: 18px;
  line-height: 52px;
  color: #006450;
  width: 205px;
  border: 2px solid #006450;
  text-align: center;
  margin: 0 auto;
}

/*--------- new styles ----------*/
.page__container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page__header, .page__footer {
  flex: 0 0 auto;
}
.page__content {
  flex: 1 1 auto;
}

.container {
  max-width: 1490px;
  padding: 0 25px;
  margin: 0 auto;
}

.article-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img text";
  gap: 25px;
}
.article-item__img {
  grid-area: img;
  position: relative;
}
.article-item__img::after {
  display: block;
  content: "";
  padding-top: 100%;
}
.article-item__img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-item__content {
  grid-area: text;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.4px;
  color: #006450;
}
.article-item__text {
  font-size: 36px;
  line-height: 44px;
}
.article-item__text > * + * {
  margin-top: 80px;
}
.article-item__action {
  margin-top: auto;
  font-size: 24px;
  line-height: 16px;
  color: #006450;
}
.article-item--revert {
  grid-template-areas: "text img";
}
.article-item--single .article-item__text {
  margin-top: auto;
  font-size: 56px;
  line-height: 62px;
}

/*# sourceMappingURL=style.css.map */
